code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
    background-color: #8e84a6;
}

table {
    display:inline-table;
}

#root {
    border:  1px dotted red;
}

#main-div {
     margin: 36px;
  padding: 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap-reverse;
     align-items: center;   
    border-radius: 1rem;
 }


.input-div {    
    background-color: white;
    max-width: 650px;
    min-height: 275px;
    border:  2px solid black;
    border-radius: 1rem;
    margin: 4em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 650px;
}

.input-div-react {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.matrix-holder {
     margin: 2em;
     padding: 0em;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
 }


 .steady-state-vec {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: flex-end;
 }

 .vector-display {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
 }

 .vector-display-phantom {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     color:white;
 }

 .state-input {
     margin: 2em;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
 }

 .state-left {
     min-height:100px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
 }

  .state-right {
     min-height:100px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
  }

  .table-cell {
      min-width: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .wide-table-cell {
      min-width: 180px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
  }



   
